---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
BraceWrapping:
  AfterExternBlock: false
  AfterFunction: true
PointerAlignment: Left
---
ALanguage: C
# Force pointers to the type for C.
DerivePointerAlignment: false
BraceWrapping:
  AfterExternBlock: false
  AfterFunction: true
PointerAlignment: Left
